*{
    box-sizing: border-box;
}


body{
    background-color: #1c1c1c;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

main{
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
}

.top{
    background-image: url('../images/MoviePIC.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    padding: 6em 3em;
}



.title-link-space{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 2.674rem;
    font-weight: 800;
}

.page-link{
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}