*{
    box-sizing: border-box;
}


body{
    background-color: #1c1c1c;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

main{
    width: 100%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
}

.top{
    
    padding: 6em 2.5em;
    position: relative;
}
.top::before{
    content: "";
  position: absolute;
  top: 0; left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 24%;
  width: 100%; height: 100%;
  background-image: url('../images/MoviePIC.jpg');
  filter: brightness(25%);
}




.title-link-space{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

h1{
    font-size: 2.674rem;
    font-weight: 800;
}

.page-link{
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}

.input-selection-area{
    bottom: -7em;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 470px;
}

.enter-movie{
    background: url("../images/Search_icon.png") no-repeat scroll 7px 10px;
    background-size: 20px;
    background-color: #2e2e2f;
    color: #A5A5A5;
    font-size: 0.875em;
    border: none;
    padding: 1em 4em;
    padding-left: 30px;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 75%;
}

.search{
     background-color: #4B4B4B;
     color: #ffffff;
     padding: 1em 1em;
     border-top-right-radius: 1em;
     border-bottom-right-radius: 1em;
     border: none;
    width: 25%;
    cursor: pointer;
}

.data-display{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    padding: 3em;
}

.place-holder-area{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    font-size:1.125em;
    font-weight: 700;

}

.film-reel{
    width: 70px;
}

.explore{
    margin-top: 0.5em;
    color: #2E2E2F;
}
.watch-list-empty{
    color: #787878;
}

.add-movies{
    color: #ffffff;
    margin-top: 1em;
}

.watch-list-plus{
    position: relative;
    left: -0.5em;
    top: 0.2em;
}

a{
    text-decoration: none;
    color: inherit;
}

.unable-text{
    text-align: center;
    width: 350px;
    color: #787878;
}

.movie-poster{
    width: 99px;
}

.movie-div{
    border-bottom: 1px solid #2C2C2C ;
    padding: 1em 0em;
    display: flex;
    color:  #ffffff;;
    position: relative;
    
}

h2{
    
    line-height: 1.5;
}

.movie-context{
    margin-left: 1.2em;
    margin-top: 1em;
    width: 100%;
   
}

.title-area{
    display: flex;
    align-items: center;
}

.star{
    margin: 0em 0.5em;
}

.facts-button-area{
    display: flex;
    justify-content: space-between;
    font-size: 0.750em;
    margin-top: 0.5em;
    align-items: center;
}

.movie-desc-section{
    margin-top: 1em;
    color: #a5a5a5;
    font-size: 0.88em;
    line-height: 1.5;
}

.watchlist-button{
    background: none;
    color: #ffffff;
    border: none;
    cursor: pointer;
}